.project
.pydevproject
build
dist
*.egg-info
*.pyc
org.eclipse.core.resources.prefs
examples/results
*.DS_store
.idea/*
docs/_build
docs/_autosummary
docs/_build/*
docs/_autosummary/*
.coverage
.ipynb_checkpoints
